{varType Yiisoft\View\WebView $view}

{$view->beginPage()|noescape}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yii Demo (Latte)</title>
    {$view->head()|noescape}
</head>
<body>
{$view->beginBody()|noescape}
{include 'header.latte'}
<main role="main" class="container py-4">
    {$content|noescape}
</main>
{include 'footer.latte'}
{$view->endBody()|noescape}
</body>
</html>
{$view->endPage(true)|noescape}